h1 {
  color: blue;
}


img {
  max-width: 400px;
  min-width: 200px;
  max-height: 400px;
  min-height: 200px;
}


.img-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
